@charset "utf-8";
/* CSS Document */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, dl, dd, form, fieldset, legend, input, textarea, select, th, td{margin:0; padding:0;}

img{vertical-align: middle; border:none;}

li{ list-style:none; }

body{font:12px 'Avenir', Helvetica, Arial, sans-serif; color: #2c3e50; background:#fff;}

a {color:#666; text-decoration:none;}

*{box-sizing:border-box}

body,html{height: 100%; overflow: hidden;}